{% extends "starter.html" %}
{% load i18n %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <div class="col-lg-12 margin-tb">
              <div class="pull-left">
                <h2>{{_('DataReceptionNumber')}} {{ recepcion.numero }}</h2>
              </div>
              <div class="pull-right">
                  <a class="btn btn-primary" href="{% url 'editar_almacen' recepcion.almacen_id %}"> {% translate "BtnBack"%}</a>
              </div>
            </div>
          </div>          
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">{{_('DataReceptionNumber')}} {{ recepcion.numero }}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <form id="edit" action="" method="POST">
                        {% csrf_token %}        
                         <div class="row">
                            <input type="hidden" name="id" value="{{recepcion.id}}" class="form-control">
                            {% for field in form.visible_fields %}
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <strong>{{ field.label }}</strong>
                                    {{ field }}
                                </div>
                            </div>
                            {%endfor%}
                            <!-- {{form}} -->
                            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                              <button type="submit" class="btn btn-success btn-block">{% translate "BtnUpdate"%}</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-info" id="cardMercancias">
              <div class="card-header">
                <h3 class="card-title">{% translate "ProductsInReception"%}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                  <div class="pull-left mb-2">
                    {% if mercancias.count != 0%}
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAddRecepcionproducto">{% translate "BtnAdd"%}</button>
                    {%endif%}
                  </div>
                <table id="tablaRecepcionmercancia" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>{% translate "Product_Code"%}</th>
                      <th>{% translate "Product_Name"%}</th>
                      <th>{% translate "Product_UM"%}</th>
                      <th>{% translate "ReceptionProduct_Quantity"%}</th>
                      <th>{% translate "ReceptionProduct_Price"%}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>                  
                    {% for merc in recepcionmercancias%}
                  <tr>
                    <td>{{ merc.mercancia.codigo }}</td>
                    <td>{{ merc.mercancia.nombremercancia }}</td>
                    <td>{{ merc.mercancia.um }}</td>
                    <td>{{ merc.cantidad }}</td>
                    <td>{{ merc.precio}} </td>
                    <td>
                            <!-- <a class="btn btn-link editRecepcionProducto text-primary" data-id="{{merc.id}}" data-mercancia="{{merc.mercancia.nombremercancia}}" data-cantidad="{{merc.cantidad}}" data-precio="{{merc.precio}}">Editar</a> -->
                            <a href="{% url 'editar_recepcionmercancia' merc.id %}" class="btn btn-link text-primary" data-toggle="modal" data-target="#modalUpdateRecepcionproducto" onclick="edit_item(this,'{{merc.mercancia.nombremercancia}}','{{merc.cantidad}}','{{merc.precio}}')">{% translate "BtnEdit"%}</a>
                            <!-- <a class="btn btn-link deleteRecepcionProducto text-danger" data-id="{{merc.id}}">Eliminar</a> -->
                            <a href="{% url 'eliminar_recepcionmercancia' merc.id %}" class="btn btn-link text-danger" data-toggle="modal" data-target="#deleteRecepcionMercanciaModal" onclick="delete_item(this,'{{merc.mercancia.nombremercancia}}')">{% translate "BtnDelete"%}</a>
                    </td>
                  </tr>
                  {%endfor%}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>{% translate "Product_Code"%}</th>
                      <th>{% translate "Product_Name"%}</th>
                      <th>{% translate "Product_UM"%}</th>
                      <th>{% translate "ReceptionProduct_Quantity"%}</th>
                      <th>{% translate "ReceptionProduct_Price"%}</th>
                      <th></th>
                    </tr>
                  </tfoot>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  {% include 'recepcion/modals/delete_mercancia.html' %}
  {% include 'recepcion/modals/add_mercancia.html' %}
  {% include 'recepcion/modals/update_mercancia.html' %}
{% endblock %}
{% block script %}
<script>
    function delete_item(selected_item, nombre){
        document.getElementById("modal_deleterecepcionmercancia_body").innerHTML ="Desea eliminar la mercancia con nombre "+ nombre +"?";
        document.getElementById("delete_recepcionmercancia_form").action = selected_item.href;        
  } 
  function edit_item(selected_item, mercancia, cantidad, precio){
        // document.getElementById("modal_deleterecepcionmercancia_body").innerHTML ="Desea eliminar la mercancia con nombre "+ nombre +"?";
        document.getElementById("editrecepcionMercanciaData").action = selected_item.href;
        document.getElementById("cantidad_ele").value = parseFloat(cantidad);
        document.getElementById("precio_ele").value = parseFloat(precio); 
        document.getElementById("editmercancia").value = mercancia; 
        console.log( typeof cantidad);
        console.log(typeof precio);
        // console.log(mercancia);
  } 
$(document).ready(function () {
    $('#btnInsertar').click(function () {
            $('#btnInsertar').attr('disabled', true);
            $('#btnInsertar').html('Insertando...');
            $('#recepcionMercanciaData').submit();
            return true;
        });
    function elmenor(){
      return 0;
    };
    $('#recepcionData').validate({
      rules: {
        contrato: {
          required: true,
          maxlength: 50,
        },
        factura: {
          required: true,
          maxlength: 50,
        },
        proveedor: {
          required: true,
          maxlength: 250,
        },
        p_recibe: {
          required: true,
          maxlength: 250,
        },
        p_entrega: {
          required: true,
          maxlength: 250,
        },
        fecha: {
          required: true,
        },
        observaciones: {
          required: true,
        },
      },
      messages: {
        contrato: {
          required: "Debe insertar el numero de contrato como referencia",
          maxlength: "Máximo 50 caracteres",
        },
        factura: {
          required: "Debe insertar el numero de factura como referencia",
          maxlength: "Máximo 50 caracteres",
        },
        proveedor: {
          required: "Debe insertar el proveedor como referencia",
          maxlength: "Máximo 250 caracteres",
        },
        p_recibe: {
          required: "Debe insertar la persona que recibe",
          maxlength: "Máximo 250 caracteres",
        },
        p_entrega: {
          required: "Debe insertar la persona que entrega",
          maxlength: "Máximo 250 caracteres",
        },
        fecha: {
          required: "Seleccione una fecha",
        },
        observaciones: {
          required: "Escriba un comentario",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
    $('#recepcionMercanciaData').validate({
      rules: {
        mercancia_id: {
          required: true,
        },
        cantidad: {
          required: true,
          min:elmenor,
        },
        precio: {
          required: true,
          min:elmenor,
        },
      },
      messages: {
        mercancia_id: {
          required: "Escoja una mercancía",
        },
        cantidad: {
          required: "Debe insertar la cantidad de la mercancía",
          min: "El valor debe ser mayor o igual a 0",
        },
        precio: {
          required: "Debe insertar el precio de la mercancía",
          min: "El valor debe ser mayor o igual a 0",
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });
$(function () {
    $('#tablaRecepcionmercancia').DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}