
{% extends "starter.html" %}
{% load i18n %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <div class="col-lg-12 margin-tb">
            <div class="pull-left">
              <h2>{% translate "TitleStoreData"%}</h2>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'almacenes' %}"> {% translate "BtnBack"%}</a>
                <a class="btn btn-link text-info" href="#cardRecepciones">{% translate 'BtnGoReception'%}</a>
                <a class="btn btn-link text-info" href="#cardVales">{% translate "BtnGoVoucher"%}</a>
            </div>
          </div>
        </div>
        {% if form.errors %}
                  <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    <strong>Vaya!</strong> Error<br><br>
                    <ul>
                        {% for field in form%}
                          {% for error in field.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                        {% endfor %}
                    </ul>
                  </div>
        {% endif %}
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">{% translate "TitleStoreData"%}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <form id="almacenData" method="POST">
                    {% csrf_token %}
                    <!-- {{form}} -->
                    {% for field in form.visible_fields %}
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <strong>{{ field.label }}</strong>
                            {{ field }}
                        </div>
                    </div>
                    {%endfor%}
                  <div class="col-12 text-center">
                    {% if perms.almacen.change_almacen %}
                      <button type="submit" class="btn btn-success btn-block">{{_('StoreBtnUpdate')}}</button>
                    {%endif%}
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">{% translate "TitleProductsInStore"%}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <table id="tablaExistencia" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>{% translate "Product_Code"%}</th>
                    <th>{% translate "Product_Name"%}</th>
                    <th>{% translate "Product_UM"%}</th>
                    <th>{% translate "Product_Quantity"%}</th>
                    <th>{% translate "Product_Price"%}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for mercancia in almacenmercancias%}
                  <tr>
                    <td>{{mercancia.mercancia.codigo}}</td>
                    <td>{{mercancia.mercancia.nombremercancia}}</td>
                    <td>{{mercancia.mercancia.um}}</td>
                    <td>{{mercancia.cantidad}}</td>
                    <td>{{mercancia.mercancia.precio}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
                <tfoot>
                  <tr>
                    <th>{% translate "Product_Code"%}</th>
                    <th>{% translate "Product_Name"%}</th>
                    <th>{% translate "Product_UM"%}</th>
                    <th>{% translate "Product_Quantity"%}</th>
                    <th>{% translate "Product_Price"%}</th>
                  </tr>
                </tfoot>
            </table>
            </div>
          </div>
        </div>
      </div>
      {% if perms.almacen.view_recepcion %}
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">{% translate "TitleStoreReception"%}</h3>
                <div class="card-tools">
                  <button id="cardRecepciones" type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="pull-left mb-2">
                  {% if perms.almacen.sign_recepcion %}
                  <button type="button" class="btn btn-info AddRecepcion">{% translate "BtnAdd"%}</button>
                  {%endif%}
                </div>
                <table id="tablaRecepciones" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% translate "Reception_Status"%}</th>
                      <th>{% translate "Reception_P_Reception"%}</th>
                      <th>{% translate "Reception_P_Deliver"%}</th>
                      <th>{% translate "Reception_Date"%}</th>
                      <th>{% translate "Reception_Details"%}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- LISTA DE RECEPCIONES AQUI FOREACH -->
                    {% for recep in recepciones%}
                    <tr>
                      <td>{{recep.numero}}</td>
                      <td>
                        {% if recep.activo == 0%}
                        <b>{% translate "Status_Process"%}</b>
                        {% elif recep.activo == 1 %}
                        <b class="text-success">{% translate "Status_Signed"%}</b>
                        {% else %}
                        <b class="text-danger">{% translate "Status_Cancelled"%}</b>
                        {%endif%}
                      </td>
                      <td>
                        {{recep.precibe}}
                        {%if recep.activo == 1 %}
                        | Autorized by: {{recep.pautoriza}}                        
                        {%endif%}
                        {%if recep.activo == 2 %}
                        | No Autorized. Cancelled.                        
                        {%endif%}
                      </td>
                      <td>{{recep.pentrega}}</td>
                      <td>{{recep.fecha}}</td>
                      <td>{{recep.observaciones}}</td>
                      <td>
                        <div class="d-inline">
                            <!-- <a href="" class="btn btn-link text-info">Detalles</a>
                            <a href="" class="btn btn-link text-info ">PDF</a> -->
                                {% if perms.almacen.change_recepcion %}
                                <a href="{% url 'editar_recepcion' recep.id %}" class="btn btn-link text-primary">{% translate "BtnEdit"%}</a>
                                {%endif%}
                                {% if perms.almacen.cancel_recepcion %}
                                <a href="{% url 'cancelar_recepcion' recep.id %}" class="btn btn-link text-danger" data-toggle="modal" data-target="#cancelRecepcionModal" onclick="cancel_recepcion(this,'{{recep.numero}}')">{% translate "BtnCancel"%}</a>
                                {%endif%}
                                {% if perms.almacen.sign_recepcion %}
                                <a href="{% url 'firmar_recepcion' recep.id %}" class="btn btn-link text-success" data-toggle="modal" data-target="#firmarRecepcionModal" onclick="firmar_recepcion(this,'{{recep.numero}}')">{% translate "BtnSign"%}</a>
                                {%endif%}
                        </div>
                  </td>
                    </tr>
                    {%endfor%}
                    <!-- fin del foreach -->
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>{% translate "Reception_Status"%}</th>
                      <th>{% translate "Reception_P_Reception"%}</th>
                      <th>{% translate "Reception_P_Deliver"%}</th>
                      <th>{% translate "Reception_Date"%}</th>
                      <th>{% translate "Reception_Details"%}</th>
                      <th></th>
                    </tr>
                  </tfoot>
              </table>
              </div>
            </div>
          </div>
        </div>
      {%endif%}
      {% if perms.almacen.view_vale %}
      <div class="row">
        <div class="col-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Vales de salida del almacén</h3>
              <div class="card-tools">
                <button type="button" id="cardVales" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="pull-left mb-2">                
                    <button type="button" class="btn btn-warning Addvale">Adicionar</button>                    
              </div>
              <table id="tablaVales" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Solicita</th>
                    <th>Entrega</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                 <!-- lista de vales -->
                  <tr>
                    <td>2</td>
                    <td>
                        Activo
                    </td>
                    <td>nombre</td>
                    <td>otro nombre </td>
                    <td>10/10/2020</td>
                    <td>uno ahi</td>
                    <td>
                            <a href="" class="btn btn-link text-primary ">Editar</a>
                            <a href="" class="btn btn-link deleteVale text-danger" data-recepcion_id="{{recepcion.id}}" data-recepcion_no="{{recepcion.numero}}">Cancelar</a>

                            <a class="btn btn-link firmarVale text-success ">Firmar</a>
                    </td>
                  </tr>
                  <!-- fin del for -->
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Solicita</th>
                    <th>Entrega</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                    <th></th>
                  </tr>
                </tfoot>
            </table>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
  </div>
</div>
{% include 'almacen/modals/cancel_recepcion.html' %}
{% include 'almacen/modals/firmar_recepcion.html' %}
{% include 'almacen/modals/add_recepcion_modal.html' %}
{% endblock %}
{% block script %}
<script type="text/javascript">
  function cancel_recepcion(selected_item, numero, question){
        document.getElementById("modal-cancelrecepcion-body").innerHTML +="Desea cancelar el documento "+ numero +"?";
        document.getElementById("cancel_recepcion_form").action = selected_item.href;        
  } 
  function firmar_recepcion(selected_item, numero, question){
        document.getElementById("modal-firmarrecepcion-body").innerHTML +="Desea firmar el documento "+ numero +"?";
        document.getElementById("firmar_recepcion_form").action = selected_item.href;        
  } 
   $(document).on('click','.AddRecepcion',function(){
  $('#btnInserRecepcion').attr('disabled', false);
  $('#btnInserRecepcion').html('Insertar');
  $('#modalAddRecepcion').modal('show');
});
// $(document).on('click','.deleteRecepcion',function(){
//     var id=$(this).attr('data-recepcion_id');
//     $('#recepcion_id').val(id);
//     $('#modal-deleterecepcion-body').text('¿Desea cancelar la recepción '+ $(this).attr('data-recepcion_no') + '?');
//     $('#deleteRecepcionModal').modal('show');
// });

$(function () {
    $('#tablaRecepciones').DataTable({
        "order": [[0, "desc"]],
      "responsive": true,
      "autoWidth": false
    });
  });

  $(function () {
    $('#tablaVales').DataTable({
        "order": [[0, "desc"]],
      "responsive": true,
      "autoWidth": false
    });
  });
  $(function () {
    $('#tablaExistencia').DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
  {% endblock %}