<html> 
    <body>
        <h3 style="color: red">Hello people of Cuba. First App with Django, from template.</h3>
        {%if nombre_persona == 'Juan'%}

        <p>
            <strong>El curso lo imparte el profe</strong> 
        </p>
        {%else%}
        <p>
            <strong>El curso lo imparte otro</strong> 
        </p>
        {%endif%}
        <p>El nombre del profesor es: {{nombre_persona}} {{apellido_persona}}</p>
        {%if temas%}        
        <ul>            
             {%for tema in temas%}
                {%if tema%}
                <li>{{ tema }}</li>
                {%else%}
                <li><strong>Vacio</strong></li>
                {%endif%}
             {%endfor%}
        </ul>
        {%else%}
        <strong>Lista vacia</strong>
        {%endif%}
    </body>
</html>