<div class="modal fade" id="modalAddRecepcion">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Recepción de mercancía</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addrecepcion" action="{% url 'crear_recepcion' %}" method="POST">
            {% csrf_token %}
               <div class="row">
                <input type="hidden" name="almacenid" value="{{ almacen.id }}" class="form-control">
               <input type="hidden" name="numero" value="0" class="form-control" placeholder="Número">
                  {% for field in formRecepcion.visible_fields %}
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <strong>{{ field.label }}</strong>
                            {{ field }}
                        </div>
                    </div>
                  {%endfor%}
                  <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                          <button type="submit" class="btn btn-primary">Insertar</button>
                  </div>
              </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>