{% load i18n %}
   <!-- This modal is for variant launch the modal using JQuery with this sentence in table -->
    <div class="modal fade" id="delete-item-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{% translate "ModalDeleteStoreQuestion"%}</p>
            </div>
            <div class="justify-content-between mb-2 mr-2 text-right">
                <form method="post" id="item-delete-form">
                    <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">{% translate "BtnCancel"%}</button>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" id="confirm-delete-item-button">{% translate "BtnDelete"%}</button>
                </form>
            </div>
        </div>
    </div>
  </div>