{% extends "starter.html" %}
{% load i18n %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
                <div class="pull-right">
                  {% if perms.almacen.add_mercancia %}
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdd">{% translate "BtnAddProduct"%}</button>
                  {%endif%}
                </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="content-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{% translate "Product_List_Header"%}</h3>
                </div>
                <div class="card-body">
                  <table id="tabla" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>{% translate "Product_Code"%}</th>
                          <th>{% translate "Product_Name"%}</th>
                          <th>{% translate "Product_UM"%}</th>
                          <th>{% translate "Product_Clasification"%}</th>
                          <th>{% translate "Product_Details"%}</th>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for mercancia in object_list %}
                        <tr>
                            <td>{{ mercancia.codigo }}</td>
                            <td>{{ mercancia.nombremercancia }}</td>
                            <td>{{ mercancia.um }}</td>
                            <td>{{ mercancia.clasificacion.clasificacion }}</td>
                            <td>{{ mercancia.descripcion }}</td>
                             <td>
                                <div>
                                    <!-- <a href="" class="btn btn-link text-info">Detalles</a>                                   -->
                                    {% if perms.almacen.change_mercancia %}
                                    <a href="{% url 'editar_mercancias' pk=mercancia.id %}" class="btn btn-link text-primary">{% translate "BtnEdit"%}</a>
                                    {%endif%}
                                    {% if perms.almacen.delete_mercancia %}
                                    <a href="{% url 'eliminar_mercancias' mercancia.id %}" class="btn btn-link text-danger" data-toggle="modal" data-target="#delete-item-modal" onclick="delete_item(this)">{% translate "BtnDelete"%}</a>
                                    {%endif%}
                                 </div>
                            </td>
                        </tr>
                        {% endfor %} 
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>{% translate "Product_Code"%}</th>
                          <th>{% translate "Product_Name"%}</th>
                          <th>{% translate "Product_UM"%}UM</th>
                          <th>{% translate "Product_Clasification"%}</th>
                          <th>{% translate "Product_Details"%}</th>
                          <th></th>
                        </tr>
                      </tfoot>
                  </table>
                </div>
              </div>
              </div>
            </div>
          </div>
      </section>
</div>
{% include 'mercancia/modals/delete_modal.html' %}
{% include 'mercancia/modals/add_modal.html' %}

  {% endblock %}
  {% block script %}

<script type="text/javascript">
  function delete_item(selected_item){
        document.getElementById("item-delete-form").action = selected_item.href
  }
  $(function () {
    $('#tabla').DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });

  $(document).ready(function () {
    $('#addclasificacion').validate({
      rules: {
        clasificacion: {
          required: true,
        },
      },
      messages: {
        clasificacion: {
          required: "Inserte el nombre de clasificación",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });
</script>
  {% endblock %}